Package: libjsoncpp-doc
Source: libjsoncpp
Version: 1.8.4-1
Architecture: all
Maintainer: Peter Spiess-Knafl <dev@spiessknafl.at>
Installed-Size: 3010
Suggests: libjsoncpp-dev
Breaks: libjsoncpp-dev (<< 0.10.2-1)
Replaces: libjsoncpp-dev (<< 0.10.2-1)
Section: doc
Priority: extra
Homepage: https://github.com/open-source-parsers/jsoncpp
Description: API documentation for libjsoncpp-dev
 This package contains doxygen generated HTML API description of libjsoncpp0.
 .
 jsoncpp is an implementation of a JSON reader and writer in C++. JSON
 (JavaScript Object Notation) is a lightweight data-interchange format
 that it is easy to parse and redeable for human. It is useful for
 building config files, network communications protocols, etc.
 .
 This library provides following features:
 .
 * High-level data structures for collecting data from JSON.
 * Easy-to-use reader and writer.
